* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--base-clr);
  color: var(--text-clr);
}

#root {
  display: contents;
}

:root {
  --base-clr: #eff1f5;
  --line-clr: #05a4e8;
  --hover-clr: #ccd0da;
  --text-clr: #081736;
  --secondary-text-clr: #081736;
  --warning-clr: #df8e1d;
  --error-clr: #d20f39;
  --info-clr: #40a02b;
}

.darkmode {
  --base-clr: #1e2131;
  --line-clr: #c6a0f6;
  --hover-clr: #11101a;
  --text-clr: #eff1f5;
  --secondary-text-clr: #ccd0da;
  --warning-clr: #f9e2af;
  --error-clr: #f38ba8;
  --info-clr: #a6e3a1;
}
